{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
# Environment information.
metadata.app.environment-name = {{ env "DE_ENV" }}

# Database settings.
{{ with $v := (key (printf "%s/metadata-db/host" $base)) }}metadata.db.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/metadata-db/port" $base)) }}metadata.db.port = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/metadata-db/name" $base)) }}metadata.db.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/metadata-db/user" $base)) }}metadata.db.user = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/metadata-db/pass" $base)) }}metadata.db.password = {{ $v }}{{ end }}

# AMQP settings
{{ with $v := (key (printf "%s/amqp/uri" $base)) }}metadata.amqp.uri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/name" $base)) }}metadata.amqp.exchange.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/type" $base)) }}metadata.amqp.exchange.type = {{ $v }}{{ end }}
{{- end -}}
